body {
    font-family: Arial, Helvetica, sans-serif;
    background : grey
}
.container2 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 50%;
    z-index:  2;
}
form {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 1.2rem;
    background : white;
    
}
input {
    display: block;
    width: 23rem;
    height: 1rem;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.btn{
    background-color: black;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 0.5rem;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.letra {
    width: 233.86px;
    height: 33.5px;
    left: 135.26px;
    top: 113.77px;
    border-radius: 10px;
    color: #ffffff;
}